agate==1.9.1
alembic==1.15.2
annotated-types==0.7.0
antlr4-python3-runtime==4.13.2
anyio==4.9.0
attrs==25.3.0
babel==2.17.0
backoff==2.2.1
certifi==2025.1.31
chardet==5.2.0
charset-normalizer==3.4.1
click==8.1.8
colorama==0.4.6
coloredlogs==14.0
daff==1.3.46
dagster==1.10.11
dagster-dbt==0.26.11
dagster-graphql==1.10.11
dagster-pipes==1.10.11
dagster-shared==0.26.11
dagster-webserver==1.10.11
dbt-adapters==1.14.6
dbt-common==1.22.0
dbt-core==1.9.4
dbt-extractor==0.6.0
dbt-postgres==1.9.0
dbt-semantic-interfaces==0.7.4
deepdiff==7.0.1
diff_cover==9.2.4
docstring_parser==0.16
filelock==3.18.0
fsspec==2025.3.2
gql==3.5.2
graphene==3.4.3
graphql-core==3.2.4
graphql-relay==3.2.0
greenlet==3.2.0
grpcio==1.71.0
grpcio-health-checking==1.71.0
h11==0.14.0
httptools==0.6.4
humanfriendly==10.0
idna==3.10
importlib-metadata==6.11.0
iniconfig==2.1.0
isodate==0.6.1
Jinja2==3.1.6
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
leather==0.4.0
Mako==1.3.10
markdown-it-py==3.0.0
MarkupSafe==3.0.2
mashumaro==3.14
mdurl==0.1.2
more-itertools==10.6.0
msgpack==1.1.0
multidict==6.4.3
networkx==3.4.2
numpy==2.2.5
ordered-set==4.1.0
orjson==3.10.16
packaging==25.0
pandas==2.2.3
parsedatetime==2.6
pathspec==0.12.1
platformdirs==4.3.7
pluggy==1.5.0
propcache==0.3.1
protobuf==5.29.4
psycopg2-binary==2.9.10
pydantic==2.11.3
pydantic_core==2.33.1
Pygments==2.19.1
pytest==8.3.5
python-dateutil==2.9.0.post0
python-dotenv==1.1.0
python-slugify==8.0.4
pytimeparse==1.1.8
pytz==2025.2
PyYAML==6.0.2
referencing==0.36.2
regex==2024.11.6
requests==2.32.3
requests-toolbelt==1.0.0
rich==14.0.0
rpds-py==0.24.0
setuptools==78.1.1
shellingham==1.5.4
six==1.17.0
sniffio==1.3.1
snowplow-tracker==1.1.0
SQLAlchemy==2.0.40
sqlfluff==3.4.0
sqlglot==26.15.0
sqlglotrs==0.4.0
sqlparse==0.5.3
starlette==0.46.2
structlog==25.2.0
tabulate==0.9.0
tblib==3.1.0
text-unidecode==1.3
tomli==2.2.1
toposort==1.10
tqdm==4.67.1
typer==0.15.2
typing-inspection==0.4.0
typing_extensions==4.13.2
tzdata==2025.2
universal_pathlib==0.2.6
urllib3==2.4.0
uvicorn==0.34.2
uvloop==0.21.0
watchdog==5.0.3
watchfiles==1.0.5
websockets==15.0.1
yarl==1.20.0
zipp==3.21.0
